body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

html {font-size: 62.5%;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary:1 214 158;
}

.btn {
  font-family: Albert Sans,sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.375;
  background-color: rgb(var(--primary));
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
}
.text01 {
  font-family: Albert Sans, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.286;
  color: #000;
}
b {
  font-weight: 600;
  color: #000;
}